<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float Example</title>
    <style>
        .code-img {
            width: 25%;
            float: left;
            margin-right: 30px;
        }
        .text {
            width: 70%;
            float: left;
        }
    </style>
</head>
<body>
    <div class="code-img">
        <img src="../static/images/sergio.png" alt="Example Image" style="width: 100%;">
    </div>
    <div class="text">
        <p>This is some text that will wrap around the floating image. The float property allows us to position the image to the left and the text will flow around it on the right.</p>
        
        <p>Additional text continues to wrap around the floated image, providing a nice layout for the content.</p>
    </div>
</body>
</html>